This is the code to compare the actions taken (our records) and the actions we receive from O2.

In [31]:
import pandas as pd
import numpy as np

In [32]:
O2Actions = pd.read_csv('O2Actions.txt', sep="|" ) #This will come from our own file where we record the actions take

In [33]:
Actions = pd.read_excel('Actions.xlsx') #This will come from our own file where we record the actions take

In [34]:
df = pd.DataFrame(actions_dict).T

In [38]:
header = df.iloc[0].tolist()

KeyError: 'the label [0] is not in the [index]'

In [36]:
df

Empty DataFrame
Columns: []
Index: []

In [37]:
df.columns = header

ValueError: Length mismatch: Expected axis has 0 elements, new values have 9 elements

In [55]:
file = open('O2Actions_20170703.txt', 'r') 
actions_dict = dict()

for i, l in enumerate(file.readlines()):
    actions_dict[i] = ["".join(x.split()) for x in l.split("|")]

In [58]:
actions_dict

{0: ['{\\rtf1\\ansi\\ansicpg1252\\cocoartf1504\\cocoasubrtf830'],
 1: ['{\\fonttbl\\f0\\fswiss\\fcharset0Helvetica;}'],
 2: ['{\\colortbl;\\red255\\green255\\blue255;}'],
 3: ['{\\*\\expandedcolortbl;;}'],
 4: ['\\paperw11900\\paperh16840\\margl1440\\margr1440\\vieww17020\\viewh10220\\viewkind0'],
 5: ['\\pard\\tx566\\tx1133\\tx1700\\tx2267\\tx2834\\tx3401\\tx3968\\tx4535\\tx5102\\tx5669\\tx6236\\tx6803\\pardirnatural\\partightenfactor0'],
 6: [''],
 7: ['\\f0\\fs24\\cf0',
  '447702495418',
  'siteVisit',
  'www.google.co.uk',
  '2017-05-01T00:00:...',
  'null',
  '2',
  'null',
  '\\'],
 8: ['',
  '447702495418',
  'siteVisit',
  'www.tennis.com',
  '2017-05-01T00:00:...',
  'null',
  '1',
  'null',
  '\\'],
 9: ['',
  '447702495418',
  'siteVisit',
  'www.facebook.com',
  '2017-05-01T00:00:...',
  'null',
  '2',
  'null',
  '\\'],
 10: ['',
  '447702495418',
  'siteVisit',
  'www.google.com',
  '2017-05-01T00:00:...',
  'null',
  '2',
  'null',
  '\\'],
 11: ['',
  '447702495418',
  'siteVisit',
  'shop.ee.co.uk',
  '2017-05-01T00:00:...',
  'null',
  '1',
  'null',
  '\\'],
 12: ['',
  '447702495418',
  'siteVisit',
  'www.expedia.com',
  '2017-05-01T00:00:...',
  'null',
  '1',
  'null',
  '\\'],
 13: ['',
  '447702495418',
  'siteVisit',
  'amazon.co.uk',
  '2017-05-01T00:00:...',
  'null',
  '1',
  'null',
  '\\'],
 14: ['',
  '447702495418',
  'siteVisit',
  't.co',
  '2017-05-01T00:00:...',
  'null',
  '1',
  'null',
  '\\'],
 15: ['',
  '447702495418',
  'siteVisit',
  'ee.co.uk',
  '2017-05-01T00:00:...',
  'null',
  '1',
  'null',
  '\\'],
 16: ['',
  '447702495418',
  'siteVisit',
  'i.instagram.com',
  '2017-05-01T00:00:...',
  'null',
  '1',
  'null',
  '\\'],
 17: ['',
  '447702495418',
  'siteVisit',
  'm.asos.com',
  '2017-05-01T00:00:...',
  'null',
  '2',
  'null',
  '\\'],
 18: ['',
  '447702495418',
  'siteVisit',
  'www.amazon.co.uk',
  '2017-05-01T00:00:...',
  'null',
  '1',
  'null',
  '\\'],
 19: ['',
  '447702495418',
  'siteVisit',
  'expedia.co.uk',
  '2017-05-01T00:00:...',
  'null',
  '1',
  'null',
  '\\'],
 20: ['',
  '447702495418',
  'siteVisit',
  'www.gq-magazine.c...',
  '2017-05-01T00:00:...',
  'null',
  '1',
  'null',
  '\\'],
 21: ['',
  '447702495418',
  'siteVisit',
  'm.lastminute.com',
  '2017-05-01T00:00:...',
  'null',
  '1',
  'null',
  '\\'],
 22: ['',
  '447702495418',
  'siteVisit',
  'www.travelocity.com',
  '2017-05-01T00:00:...',
  'null',
  '1',
  'null',
  '\\'],
 23: ['',
  '447702495418',
  'siteVisit',
  'www.lastminute.com',
  '2017-05-01T00:00:...',
  'null',
  '1',
  'null',
  '\\'],
 24: ['',
  '447702495418',
  'siteVisit',
  'www.skyscanner.net',
  '2017-05-01T00:00:...',
  'null',
  '2',
  'null',
  '\\'],
 25: ['',
  '447702495418',
  'siteVisit',
  'www.expedia.co.uk',
  '2017-05-01T00:00:...',
  'null',
  '1',
  'null',
  '\\'],
 26: ['',
  '447702495418',
  'siteVisit',
  'www.cyclist.co.uk',
  '2017-05-01T00:00:...',
  'null',
  '1',
  'null',
  '\\'],
 27: ['',
  '447702495418',
  'siteVisit',
  'www.tripadvisor.com',
  '2017-05-01T00:00:...',
  'null',
  '1',
  'null',
  '\\'],
 28: ['',
  '447702495418',
  'siteVisit',
  'tennis.com',
  '2017-05-01T00:00:...',
  'null',
  '1',
  'null',
  '\\'],
 29: ['',
  '447702495418',
  'siteVisit',
  'coral.co.uk',
  '2017-05-08T00:00:...',
  'null',
  '1',
  'null',
  '\\'],
 30: ['',
  '447702495418',
  'siteVisit',
  'www.facebook.com',
  '2017-05-08T00:00:...',
  'null',
  '2',
  'null',
  '\\'],
 31: ['',
  '447702495418',
  'siteVisit',
  'www.google.co.uk',
  '2017-05-08T00:00:...',
  'null',
  '1',
  'null',
  '\\'],
 32: ['',
  '447702495418',
  'siteVisit',
  'www.google.com',
  '2017-05-08T00:00:...',
  'null',
  '1',
  'null',
  '\\'],
 33: ['',
  '447702495418',
  'siteVisit',
  'www.crossfit.com',
  '2017-05-15T00:00:...',
  'null',
  '1',
  'null',
  '\\'],
 34: ['',
  '447702495418',
  'siteVisit',
  'www.thesartoriali...',
  '2017-05-15T00:00:...',
  'null',
  '1',
  'null',
  '\\'],
 35: ['',
  '447702495418',
  'siteVisit',
  'i.instagram.com',
  '2017-05-22T00:00:...',
  'null',
  '1',
  'null',
  '\\'],
 36: ['',
  '447702495418',
  'siteVisit',
  'itunes.apple.com',
  '2017-06-12T00:00:...',
  'null',
  '1',
  'null',
  '\\'],
 37: ['',
  '447702495418',
  'siteVisit',
  'www.youtube.com',
  '2017-06-12T00:00:...',
  'null',
  '1',
  'null',
  '\\'],
 38: ['',
  '447702495418',
  'siteVisit',
  'itunes.com',
  '2017-06-12T00:00:...',
  'null',
  '1',
  'null',
  '\\'],
 39: ['',
  '447702495418',
  'siteVisit',
  'keyvalueservice.i...',
  '2017-06-12T00:00:...',
  'null',
  '1',
  'null',
  '}']}

In [53]:
import csv
actions_dict = dict()

with open('O2Actions_20170703.txt') as csvfile:
    readCSV = csv.reader(csvfile, delimiter='|')
    for i, row in enumerate(readCSV):
        actions_dict[i] = "".join(row.split())

AttributeError: 'list' object has no attribute 'split'

In [18]:
O2Actions

,Unnamed: 0,id,name,value,date,direction,count,durationInSeconds,Unnamed: 8
0,NaN,447702495418,siteVisit,www.amazon.co.uk,2017-04-30 00:00:...,null,1,null,NaN
1,NaN,447702495418,siteVisit,expedia.co.uk,2017-04-30 00:00:...,null,1,null,NaN
2,NaN,447702495418,tefRoamedIn,0,2017-04-30 00:00:...,null,1,null,NaN
3,NaN,447702495418,siteVisit,amazon.co.uk,2017-04-30 00:00:...,null,1,null,NaN
4,NaN,447702495418,siteVisit,www.lastminute.com,2017-04-30 00:00:...,null,1,null,NaN
5,NaN,447702495418,siteVisit,tennis.com,2017-04-30 00:00:...,null,1,null,NaN
6,NaN,447702495418,siteVisit,www.google.co.uk,2017-04-30 00:00:...,null,2,null,NaN
7,NaN,447702495418,siteVisit,www.travelocity.com,2017-04-30 00:00:...,null,1,null,NaN
8,NaN,447702495418,siteVisit,i.instagram.com,2017-04-30 00:00:...,null,1,null,NaN
9,NaN,447702495418,siteVisit,ee.co.uk,2017-04-30 00:00:...,null,1,null,NaN
10,NaN,447702495418,siteVisit,www.expedia.co.uk,2017-04-30 00:00:...,null,1,null,NaN
11,NaN,447702495418,siteVisit,www.facebook.com,2017-04-30 00:00:...,null,2,null,NaN
12,NaN,447702495418,siteVisit,www.expedia.com,2017-04-30 00:00:...,null,1,null,NaN
13,NaN,447702495418,siteVisit,m.lastminute.com,2017-04-30 00:00:...,null,1,null,NaN
14,NaN,447702495418,SMS,23331,2017-04-30 00:00:...,INBOUND,1,0,NaN
15,NaN,447702495418,siteVisit,www.google.com,2017-04-30 00:00:...,null,2,null,NaN
16,NaN,447702495418,siteVisit,www.tennis.com,2017-04-30 00:00:...,null,1,null,NaN
17,NaN,447702495418,siteVisit,www.cyclist.co.uk,2017-04-30 00:00:...,null,1,null,NaN
18,NaN,447702495418,siteVisit,www.skyscanner.net,2017-04-30 00:00:...,null,2,null,NaN
19,NaN,447702495418,siteVisit,www.gq-magazine.c...,2017-04-30 00:00:...,null,1,null,NaN
20,NaN,447702495418,siteVisit,t.co,2017-04-30 00:00:...,null,1,null,NaN
21,NaN,447702495418,siteVisit,www.tripadvisor.com,2017-04-30 00:00:...,null,1,null,NaN
22,NaN,447702495418,siteVisit,m.asos.com,2017-04-30 00:00:...,null,2,null,NaN
23,NaN,447702495418,siteVisit,shop.ee.co.uk,2017-04-30 00:00:...,null,1,null,NaN
24,NaN,447702495418,SMS,07860015000,2017-05-07 00:00:...,OUTBOUND,1,0,NaN
25,NaN,447702495418,siteVisit,www.google.co.uk,2017-05-07 00:00:...,null,1,null,NaN
26,NaN,447702495418,siteVisit,www.google.com,2017-05-07 00:00:...,null,1,null,NaN
27,NaN,447702495418,VOICE,03457345345,2017-05-07 00:00:...,OUTBOUND,2,840,NaN
28,NaN,447702495418,siteVisit,coral.co.uk,2017-05-07 00:00:...,null,1,null,NaN
29,NaN,447702495418,VOICE,02079252286,2017-05-07 00:00:...,OUTBOUND,1,60,NaN
30,NaN,447702495418,VOICE,02079310445,2017-05-07 00:00:...,OUTBOUND,1,60,NaN
31,NaN,447702495418,VOICE,03453000000,2017-05-07 00:00:...,OUTBOUND,2,120,NaN
32,NaN,447702495418,siteVisit,www.facebook.com,2017-05-07 00:00:...,null,2,null,NaN
33,NaN,447702495418,VOICE,02072353074,2017-05-07 00:00:...,OUTBOUND,1,60,NaN
34,NaN,447702495418,SMS,9011,2017-05-07 00:00:...,OUTBOUND,2,0,NaN
35,NaN,447702495418,VOICE,02076594500,2017-05-07 00:00:...,OUTBOUND,1,60,NaN
36,NaN,447702495418,VOICE,01923477777,2017-05-07 00:00:...,OUTBOUND,1,60,NaN
37,NaN,447702495418,tefWifiHotspotCon...,O2 Retail - 65 - ...,2017-05-07 00:00:...,null,3,null,NaN

In [10]:
O2Actions.shape

(38, 9)

In [1]:
O2Actions.sortby("date")

NameError: name 'O2Actions' is not defined

In [51]:
Actions = pd.read_excel("Actions.xlsx")

In [52]:
Actions

,date,name,value,direction,durationInSeconds
0,2017-05-02,VOICE,0800 389 7000,outbound,01:00:00
1,2017-05-02,VOICE,0345 734 5345,outbound,12:00:00
2,2017-05-02,VOICE,0345 300 0000,outbound,00:12:00
3,2017-05-02,VOICE,020 7659 4500,outbound,01:00:00
4,2017-05-02,VOICE,020 7925 2286,outbound,00:18:00
5,2017-05-02,VOICE,020 7235 3074,outbound,00:13:00
6,2017-05-03,VOICE,0345 300 0000,outbound,00:18:00
7,2017-05-03,VOICE,0345 734 5345,outbound,00:23:00
8,2017-05-03,VOICE,01923 477777,outbound,00:14:00
9,2017-05-03,VOICE,020 7931 0445,outbound,00:34:00
10,2017-05-03,VOICE,0151 255 1525,outbound,Missed call.
11,2017-05-10,VOICE,020 7494 0697,outbound,00:04:00
12,2017-05-10,VOICE,020 7437 1344,outbound,00:06:00
13,2017-05-10,VOICE,020 7494 9748,outbound,00:06:00
14,2017-05-10,VOICE,020 7437 8446,outbound,00:06:00
15,2017-05-10,VOICE,0345 734 5345,outbound,00:13:00
16,2017-05-11,VOICE,0345 721 3141,outbound,00:09:00
17,2017-05-11,VOICE,0800 00 55 00,outbound,00:07:00
18,2017-05-11,VOICE,020 3402 7550,outbound,00:17:00
19,2017-05-11,VOICE,020 7753 1000,outbound,00:06:00
20,2017-05-11,VOICE,020 7836 4678,outbound,00:04:00
21,2017-05-11,VOICE,020 7583 0216,outbound,Missed call
22,2017-05-15,VOICE,020 7834 3171,outbound,00:05:00
23,2017-05-15,VOICE,020 7834 3171,inbound,00:02:00
24,2017-05-15,VOICE,020 7371 4848,outbound,00:03:00
25,2017-05-17,VOICE,020 7930 8205,outbound,00:03:00
26,2017-05-17,VOICE,020 7242 1290,outbound,00:10:00
27,2017-05-24,VOICE,020 7851 7471,outbound,Missed call
28,2017-05-24,VOICE,020 7240 7342,outbound,00:20:00
29,2017-05-24,VOICE,no caller ID,inbound,NaN
...,...,...,...,...,...
51,2017-05-03,siteVisit,www.cyclist.co.uk,null,NaN
52,2017-05-03,siteVisit,www.tennis.com,null,NaN
53,2017-05-03,siteVisit,www.skyscanner.com,null,NaN
54,2017-05-03,siteVisit,m.lastminute.com,null,NaN
55,2017-05-03,siteVisit,shop.ee.co.uk,null,NaN
56,2017-05-09,siteVisit,www.tennis.com,null,NaN
57,2017-05-09,siteVisit,www.gq-magazine.co.uk,null,NaN
58,2017-05-09,siteVisit,www.boxing4fitness.co.uk,null,NaN
59,2017-05-09,siteVisit,m.asos.com,null,NaN
60,2017-05-10,siteVisit,m.asos.com,null,NaN
61,2017-05-10,siteVisit,www.thesartorialist.com,null,NaN
62,2017-05-10,siteVisit,www.tennis.com,null,NaN
63,2017-05-10,siteVisit,www.flashscores.co.uk,null,NaN
64,2017-05-15,siteVisit,www.net-a-porter.com,null,NaN
65,2017-05-15,siteVisit,www.style.com,null,NaN
66,2017-05-15,siteVisit,www.flannels.com,null,NaN
67,2017-05-15,siteVisit,www.crossfit.com,null,NaN
68,2017-05-17,siteVisit,www.crossfit.com,null,NaN
69,2017-05-17,siteVisit,www.thesartorialist.com,null,NaN
70,2017-05-18,siteVisit,www.thesartorialist.com,null,NaN
71,2017-05-18,siteVisit,www.crossfit.com,null,NaN
72,2017-05-18,siteVisit,www.boxing4fitness.co.uk,null,NaN
73,2017-05-18,siteVisit,www.bt.com,null,NaN
74,2017-05-18,siteVisit,home.bt.com,null,NaN
75,2017-05-25,siteVisit,www.yogajournal.com,null,NaN
76,2017-05-25,siteVisit,xe.com,null,NaN
77,2017-05-30,siteVisit,https://www.cargiant.co.uk/,null,NaN
78,2017-05-30,siteVisit,www.skoda.co.uk,null,NaN
79,2017-05-30,siteVisit,www.peugeot.co.uk/,null,NaN
80,2017-05-30,siteVisit,https://www.audi.co.uk,null,NaN

In [121]:
O2Actions = df[Actions.columns.tolist()]

In [21]:
Actions.shape

(81, 5)

In [22]:
O2Actions.shape

(38, 9)

In [23]:
Actions.reset_index(inplace=True)
O2Actions.reset_index(inplace=False)

,index,Unnamed: 0,id,name,value,date,direction,count,durationInSeconds,Unnamed: 8
0,0,NaN,447702495418,siteVisit,www.amazon.co.uk,2017-04-30 00:00:...,null,1,null,NaN
1,1,NaN,447702495418,siteVisit,expedia.co.uk,2017-04-30 00:00:...,null,1,null,NaN
2,2,NaN,447702495418,tefRoamedIn,0,2017-04-30 00:00:...,null,1,null,NaN
3,3,NaN,447702495418,siteVisit,amazon.co.uk,2017-04-30 00:00:...,null,1,null,NaN
4,4,NaN,447702495418,siteVisit,www.lastminute.com,2017-04-30 00:00:...,null,1,null,NaN
5,5,NaN,447702495418,siteVisit,tennis.com,2017-04-30 00:00:...,null,1,null,NaN
6,6,NaN,447702495418,siteVisit,www.google.co.uk,2017-04-30 00:00:...,null,2,null,NaN
7,7,NaN,447702495418,siteVisit,www.travelocity.com,2017-04-30 00:00:...,null,1,null,NaN
8,8,NaN,447702495418,siteVisit,i.instagram.com,2017-04-30 00:00:...,null,1,null,NaN
9,9,NaN,447702495418,siteVisit,ee.co.uk,2017-04-30 00:00:...,null,1,null,NaN
10,10,NaN,447702495418,siteVisit,www.expedia.co.uk,2017-04-30 00:00:...,null,1,null,NaN
11,11,NaN,447702495418,siteVisit,www.facebook.com,2017-04-30 00:00:...,null,2,null,NaN
12,12,NaN,447702495418,siteVisit,www.expedia.com,2017-04-30 00:00:...,null,1,null,NaN
13,13,NaN,447702495418,siteVisit,m.lastminute.com,2017-04-30 00:00:...,null,1,null,NaN
14,14,NaN,447702495418,SMS,23331,2017-04-30 00:00:...,INBOUND,1,0,NaN
15,15,NaN,447702495418,siteVisit,www.google.com,2017-04-30 00:00:...,null,2,null,NaN
16,16,NaN,447702495418,siteVisit,www.tennis.com,2017-04-30 00:00:...,null,1,null,NaN
17,17,NaN,447702495418,siteVisit,www.cyclist.co.uk,2017-04-30 00:00:...,null,1,null,NaN
18,18,NaN,447702495418,siteVisit,www.skyscanner.net,2017-04-30 00:00:...,null,2,null,NaN
19,19,NaN,447702495418,siteVisit,www.gq-magazine.c...,2017-04-30 00:00:...,null,1,null,NaN
20,20,NaN,447702495418,siteVisit,t.co,2017-04-30 00:00:...,null,1,null,NaN
21,21,NaN,447702495418,siteVisit,www.tripadvisor.com,2017-04-30 00:00:...,null,1,null,NaN
22,22,NaN,447702495418,siteVisit,m.asos.com,2017-04-30 00:00:...,null,2,null,NaN
23,23,NaN,447702495418,siteVisit,shop.ee.co.uk,2017-04-30 00:00:...,null,1,null,NaN
24,24,NaN,447702495418,SMS,07860015000,2017-05-07 00:00:...,OUTBOUND,1,0,NaN
25,25,NaN,447702495418,siteVisit,www.google.co.uk,2017-05-07 00:00:...,null,1,null,NaN
26,26,NaN,447702495418,siteVisit,www.google.com,2017-05-07 00:00:...,null,1,null,NaN
27,27,NaN,447702495418,VOICE,03457345345,2017-05-07 00:00:...,OUTBOUND,2,840,NaN
28,28,NaN,447702495418,siteVisit,coral.co.uk,2017-05-07 00:00:...,null,1,null,NaN
29,29,NaN,447702495418,VOICE,02079252286,2017-05-07 00:00:...,OUTBOUND,1,60,NaN
30,30,NaN,447702495418,VOICE,02079310445,2017-05-07 00:00:...,OUTBOUND,1,60,NaN
31,31,NaN,447702495418,VOICE,03453000000,2017-05-07 00:00:...,OUTBOUND,2,120,NaN
32,32,NaN,447702495418,siteVisit,www.facebook.com,2017-05-07 00:00:...,null,2,null,NaN
33,33,NaN,447702495418,VOICE,02072353074,2017-05-07 00:00:...,OUTBOUND,1,60,NaN
34,34,NaN,447702495418,SMS,9011,2017-05-07 00:00:...,OUTBOUND,2,0,NaN
35,35,NaN,447702495418,VOICE,02076594500,2017-05-07 00:00:...,OUTBOUND,1,60,NaN
36,36,NaN,447702495418,VOICE,01923477777,2017-05-07 00:00:...,OUTBOUND,1,60,NaN
37,37,NaN,447702495418,tefWifiHotspotCon...,O2 Retail - 65 - ...,2017-05-07 00:00:...,null,3,null,NaN

In [20]:
O2Actions['date'] = O2Actions.date.apply(lambda x: x[:10])

AttributeError: 'DataFrame' object has no attribute 'date'

In [24]:
pd.merge(Actions, O2Actions, on=[ 'name', 'value', 'direction'] , how='inner')

KeyError: 'name'

In [25]:
Actions.sort_values('date')

,index,date,name,value,direction,durationInSeconds
45,45,2017-02-02,siteVisit,www.skyscanner.com,null,NaN
46,46,2017-02-02,siteVisit,http://www.gq-magazine.co.uk/,null,NaN
47,47,2017-02-02,siteVisit,m.asos.com,null,NaN
0,0,2017-05-02,VOICE,0800 389 7000,outbound,01:00:00
1,1,2017-05-02,VOICE,0345 734 5345,outbound,12:00:00
2,2,2017-05-02,VOICE,0345 300 0000,outbound,00:12:00
3,3,2017-05-02,VOICE,020 7659 4500,outbound,01:00:00
4,4,2017-05-02,VOICE,020 7925 2286,outbound,00:18:00
5,5,2017-05-02,VOICE,020 7235 3074,outbound,00:13:00
48,48,2017-05-03,siteVisit,amazon.co.uk,null,NaN
49,49,2017-05-03,siteVisit,m.asos.com,null,NaN
50,50,2017-05-03,siteVisit,www.expedia.co.uk,null,NaN
51,51,2017-05-03,siteVisit,www.cyclist.co.uk,null,NaN
52,52,2017-05-03,siteVisit,www.tennis.com,null,NaN
54,54,2017-05-03,siteVisit,m.lastminute.com,null,NaN
55,55,2017-05-03,siteVisit,shop.ee.co.uk,null,NaN
10,10,2017-05-03,VOICE,0151 255 1525,outbound,Missed call.
9,9,2017-05-03,VOICE,020 7931 0445,outbound,00:34:00
8,8,2017-05-03,VOICE,01923 477777,outbound,00:14:00
7,7,2017-05-03,VOICE,0345 734 5345,outbound,00:23:00
6,6,2017-05-03,VOICE,0345 300 0000,outbound,00:18:00
53,53,2017-05-03,siteVisit,www.skyscanner.com,null,NaN
42,42,2017-05-06,VOICE,01342 349352,outbound,00:17:00
44,44,2017-05-06,VOICE,020 3284 5772,outbound,00:17:00
43,43,2017-05-06,VOICE,0330 042 4607,outbound,00:17:00
41,41,2017-05-06,VOICE,020 7262 8887,inbound,00:00:00
40,40,2017-05-06,VOICE,020 7262 8887,outbound,00:19:00
59,59,2017-05-09,siteVisit,m.asos.com,null,NaN
58,58,2017-05-09,siteVisit,www.boxing4fitness.co.uk,null,NaN
57,57,2017-05-09,siteVisit,www.gq-magazine.co.uk,null,NaN
...,...,...,...,...,...,...
66,66,2017-05-15,siteVisit,www.flannels.com,null,NaN
22,22,2017-05-15,VOICE,020 7834 3171,outbound,00:05:00
25,25,2017-05-17,VOICE,020 7930 8205,outbound,00:03:00
68,68,2017-05-17,siteVisit,www.crossfit.com,null,NaN
26,26,2017-05-17,VOICE,020 7242 1290,outbound,00:10:00
69,69,2017-05-17,siteVisit,www.thesartorialist.com,null,NaN
70,70,2017-05-18,siteVisit,www.thesartorialist.com,null,NaN
71,71,2017-05-18,siteVisit,www.crossfit.com,null,NaN
72,72,2017-05-18,siteVisit,www.boxing4fitness.co.uk,null,NaN
73,73,2017-05-18,siteVisit,www.bt.com,null,NaN
74,74,2017-05-18,siteVisit,home.bt.com,null,NaN
27,27,2017-05-24,VOICE,020 7851 7471,outbound,Missed call
31,31,2017-05-24,VOICE,020 7449 1200,outbound,00:28:00
32,32,2017-05-24,VOICE,020 7847 5500,outbound,01:01:00
28,28,2017-05-24,VOICE,020 7240 7342,outbound,00:20:00
30,30,2017-05-24,VOICE,020 7112 1538,outbound,00:31:00
29,29,2017-05-24,VOICE,no caller ID,inbound,NaN
76,76,2017-05-25,siteVisit,xe.com,null,NaN
75,75,2017-05-25,siteVisit,www.yogajournal.com,null,NaN
34,34,2017-05-25,VOICE,020 7591 8600,outbound,00:12:00
33,33,2017-05-25,VOICE,020 7836 5454,outbound,01:02:00
78,78,2017-05-30,siteVisit,www.skoda.co.uk,null,NaN
77,77,2017-05-30,siteVisit,https://www.cargiant.co.uk/,null,NaN
39,39,2017-05-30,VOICE,020 7495 0000,outbound,02:00:00
35,35,2017-05-30,VOICE,020 7819 2600,outbound,00:33:00
36,36,2017-05-30,VOICE,020 7514 3559,outbound,00:22:00
37,37,2017-05-30,VOICE,020 7514 3561,outbound,00:21:00
38,38,2017-05-30,VOICE,020 8788 6036,outbound,00:43:00
79,79,2017-05-30,siteVisit,www.peugeot.co.uk/,null,NaN
80,80,2017-05-30,siteVisit,https://www.audi.co.uk,null,NaN

In [172]:
O2Actions.sort_values('date')

,date,name,value,direction,durationInSeconds
19,2017-04-30,siteVisit,www.skyscanner.net,null,null
24,2017-04-30,siteVisit,shop.ee.co.uk,null,null
23,2017-04-30,siteVisit,m.asos.com,null,null
22,2017-04-30,siteVisit,www.tripadvisor.com,null,null
21,2017-04-30,siteVisit,t.co,null,null
20,2017-04-30,siteVisit,www.gq-magazine.c...,null,null
18,2017-04-30,siteVisit,www.cyclist.co.uk,null,null
17,2017-04-30,siteVisit,www.tennis.com,null,null
16,2017-04-30,siteVisit,www.google.com,null,null
15,2017-04-30,SMS,23331,INBOUND,0
13,2017-04-30,siteVisit,www.expedia.com,null,null
12,2017-04-30,siteVisit,www.facebook.com,null,null
14,2017-04-30,siteVisit,m.lastminute.com,null,null
10,2017-04-30,siteVisit,ee.co.uk,null,null
1,2017-04-30,siteVisit,www.amazon.co.uk,null,null
2,2017-04-30,siteVisit,expedia.co.uk,null,null
3,2017-04-30,tefRoamedIn,0,null,null
11,2017-04-30,siteVisit,www.expedia.co.uk,null,null
5,2017-04-30,siteVisit,www.lastminute.com,null,null
4,2017-04-30,siteVisit,amazon.co.uk,null,null
6,2017-04-30,siteVisit,tennis.com,null,null
7,2017-04-30,siteVisit,www.google.co.uk,null,null
8,2017-04-30,siteVisit,www.travelocity.com,null,null
9,2017-04-30,siteVisit,i.instagram.com,null,null
32,2017-05-07,VOICE,03453000000,OUTBOUND,120
35,2017-05-07,SMS,9011,OUTBOUND,0
34,2017-05-07,VOICE,02072353074,OUTBOUND,60
33,2017-05-07,siteVisit,www.facebook.com,null,null
36,2017-05-07,VOICE,02076594500,OUTBOUND,60
31,2017-05-07,VOICE,02079310445,OUTBOUND,60
38,2017-05-07,tefWifiHotspotCon...,O2Retail-65-...,null,null
29,2017-05-07,siteVisit,coral.co.uk,null,null
28,2017-05-07,VOICE,03457345345,OUTBOUND,840
27,2017-05-07,siteVisit,www.google.com,null,null
26,2017-05-07,siteVisit,www.google.co.uk,null,null
25,2017-05-07,SMS,07860015000,OUTBOUND,0
37,2017-05-07,VOICE,01923477777,OUTBOUND,60
30,2017-05-07,VOICE,02079252286,OUTBOUND,60
0,date,name,value,direction,durationInSeconds

In [31]:
Actions.sort_values("date")

,index,date,name,value,direction,durationInSeconds
45,45,2017-02-02,siteVisit,www.skyscanner.com,null,NaN
46,46,2017-02-02,siteVisit,http://www.gq-magazine.co.uk/,null,NaN
47,47,2017-02-02,siteVisit,m.asos.com,null,NaN
0,0,2017-05-02,VOICE,0800 389 7000,outbound,01:00:00
1,1,2017-05-02,VOICE,0345 734 5345,outbound,12:00:00
2,2,2017-05-02,VOICE,0345 300 0000,outbound,00:12:00
3,3,2017-05-02,VOICE,020 7659 4500,outbound,01:00:00
4,4,2017-05-02,VOICE,020 7925 2286,outbound,00:18:00
5,5,2017-05-02,VOICE,020 7235 3074,outbound,00:13:00
48,48,2017-05-03,siteVisit,amazon.co.uk,null,NaN
49,49,2017-05-03,siteVisit,m.asos.com,null,NaN
50,50,2017-05-03,siteVisit,www.expedia.co.uk,null,NaN
51,51,2017-05-03,siteVisit,www.cyclist.co.uk,null,NaN
52,52,2017-05-03,siteVisit,www.tennis.com,null,NaN
54,54,2017-05-03,siteVisit,m.lastminute.com,null,NaN
55,55,2017-05-03,siteVisit,shop.ee.co.uk,null,NaN
10,10,2017-05-03,VOICE,0151 255 1525,outbound,Missed call.
9,9,2017-05-03,VOICE,020 7931 0445,outbound,00:34:00
8,8,2017-05-03,VOICE,01923 477777,outbound,00:14:00
7,7,2017-05-03,VOICE,0345 734 5345,outbound,00:23:00
6,6,2017-05-03,VOICE,0345 300 0000,outbound,00:18:00
53,53,2017-05-03,siteVisit,www.skyscanner.com,null,NaN
42,42,2017-05-06,VOICE,01342 349352,outbound,00:17:00
44,44,2017-05-06,VOICE,020 3284 5772,outbound,00:17:00
43,43,2017-05-06,VOICE,0330 042 4607,outbound,00:17:00
41,41,2017-05-06,VOICE,020 7262 8887,inbound,00:00:00
40,40,2017-05-06,VOICE,020 7262 8887,outbound,00:19:00
59,59,2017-05-09,siteVisit,m.asos.com,null,NaN
58,58,2017-05-09,siteVisit,www.boxing4fitness.co.uk,null,NaN
57,57,2017-05-09,siteVisit,www.gq-magazine.co.uk,null,NaN
...,...,...,...,...,...,...
66,66,2017-05-15,siteVisit,www.flannels.com,null,NaN
22,22,2017-05-15,VOICE,020 7834 3171,outbound,00:05:00
25,25,2017-05-17,VOICE,020 7930 8205,outbound,00:03:00
68,68,2017-05-17,siteVisit,www.crossfit.com,null,NaN
26,26,2017-05-17,VOICE,020 7242 1290,outbound,00:10:00
69,69,2017-05-17,siteVisit,www.thesartorialist.com,null,NaN
70,70,2017-05-18,siteVisit,www.thesartorialist.com,null,NaN
71,71,2017-05-18,siteVisit,www.crossfit.com,null,NaN
72,72,2017-05-18,siteVisit,www.boxing4fitness.co.uk,null,NaN
73,73,2017-05-18,siteVisit,www.bt.com,null,NaN
74,74,2017-05-18,siteVisit,home.bt.com,null,NaN
27,27,2017-05-24,VOICE,020 7851 7471,outbound,Missed call
31,31,2017-05-24,VOICE,020 7449 1200,outbound,00:28:00
32,32,2017-05-24,VOICE,020 7847 5500,outbound,01:01:00
28,28,2017-05-24,VOICE,020 7240 7342,outbound,00:20:00
30,30,2017-05-24,VOICE,020 7112 1538,outbound,00:31:00
29,29,2017-05-24,VOICE,no caller ID,inbound,NaN
76,76,2017-05-25,siteVisit,xe.com,null,NaN
75,75,2017-05-25,siteVisit,www.yogajournal.com,null,NaN
34,34,2017-05-25,VOICE,020 7591 8600,outbound,00:12:00
33,33,2017-05-25,VOICE,020 7836 5454,outbound,01:02:00
78,78,2017-05-30,siteVisit,www.skoda.co.uk,null,NaN
77,77,2017-05-30,siteVisit,https://www.cargiant.co.uk/,null,NaN
39,39,2017-05-30,VOICE,020 7495 0000,outbound,02:00:00
35,35,2017-05-30,VOICE,020 7819 2600,outbound,00:33:00
36,36,2017-05-30,VOICE,020 7514 3559,outbound,00:22:00
37,37,2017-05-30,VOICE,020 7514 3561,outbound,00:21:00
38,38,2017-05-30,VOICE,020 8788 6036,outbound,00:43:00
79,79,2017-05-30,siteVisit,www.peugeot.co.uk/,null,NaN
80,80,2017-05-30,siteVisit,https://www.audi.co.uk,null,NaN

In [33]:
Actions.shape

(81, 6)

In [34]:
O2Actions.shape

(38, 9)

In [38]:
del Actions["index"]

In [39]:
Actions.head()

        date   name          value direction durationInSeconds
0 2017-05-02  VOICE  0800 389 7000  outbound          01:00:00
1 2017-05-02  VOICE  0345 734 5345  outbound          12:00:00
2 2017-05-02  VOICE  0345 300 0000  outbound          00:12:00
3 2017-05-02  VOICE  020 7659 4500  outbound          01:00:00
4 2017-05-02  VOICE  020 7925 2286  outbound          00:18:00

In [40]:
pd.merge(O2Actions, Actions, on=["date"], how="inner")

KeyError: 'date'

In [59]:
O2Actions_20170703 = pd.read_csv('o2New.txt', delimiter="|" )

In [60]:
O2Actions_20170703

,Unnamed: 0,447702495418,siteVisit,www.google.co.uk,2017-05-01T00:00:...,null,2,null.1,Unnamed: 8
0,NaN,447702495418,siteVisit,www.tennis.com,2017-05-01T00:00:...,null,1,null,NaN
1,NaN,447702495418,siteVisit,www.facebook.com,2017-05-01T00:00:...,null,2,null,NaN
2,NaN,447702495418,siteVisit,www.google.com,2017-05-01T00:00:...,null,2,null,NaN
3,NaN,447702495418,siteVisit,shop.ee.co.uk,2017-05-01T00:00:...,null,1,null,NaN
4,NaN,447702495418,siteVisit,www.expedia.com,2017-05-01T00:00:...,null,1,null,NaN
5,NaN,447702495418,siteVisit,amazon.co.uk,2017-05-01T00:00:...,null,1,null,NaN
6,NaN,447702495418,siteVisit,t.co,2017-05-01T00:00:...,null,1,null,NaN
7,NaN,447702495418,siteVisit,ee.co.uk,2017-05-01T00:00:...,null,1,null,NaN
8,NaN,447702495418,siteVisit,i.instagram.com,2017-05-01T00:00:...,null,1,null,NaN
9,NaN,447702495418,siteVisit,m.asos.com,2017-05-01T00:00:...,null,2,null,NaN
10,NaN,447702495418,siteVisit,www.amazon.co.uk,2017-05-01T00:00:...,null,1,null,NaN
11,NaN,447702495418,siteVisit,expedia.co.uk,2017-05-01T00:00:...,null,1,null,NaN
12,NaN,447702495418,siteVisit,www.gq-magazine.c...,2017-05-01T00:00:...,null,1,null,NaN
13,NaN,447702495418,siteVisit,m.lastminute.com,2017-05-01T00:00:...,null,1,null,NaN
14,NaN,447702495418,siteVisit,www.travelocity.com,2017-05-01T00:00:...,null,1,null,NaN
15,NaN,447702495418,siteVisit,www.lastminute.com,2017-05-01T00:00:...,null,1,null,NaN
16,NaN,447702495418,siteVisit,www.skyscanner.net,2017-05-01T00:00:...,null,2,null,NaN
17,NaN,447702495418,siteVisit,www.expedia.co.uk,2017-05-01T00:00:...,null,1,null,NaN
18,NaN,447702495418,siteVisit,www.cyclist.co.uk,2017-05-01T00:00:...,null,1,null,NaN
19,NaN,447702495418,siteVisit,www.tripadvisor.com,2017-05-01T00:00:...,null,1,null,NaN
20,NaN,447702495418,siteVisit,tennis.com,2017-05-01T00:00:...,null,1,null,NaN
21,NaN,447702495418,siteVisit,coral.co.uk,2017-05-08T00:00:...,null,1,null,NaN
22,NaN,447702495418,siteVisit,www.facebook.com,2017-05-08T00:00:...,null,2,null,NaN
23,NaN,447702495418,siteVisit,www.google.co.uk,2017-05-08T00:00:...,null,1,null,NaN
24,NaN,447702495418,siteVisit,www.google.com,2017-05-08T00:00:...,null,1,null,NaN
25,NaN,447702495418,siteVisit,www.crossfit.com,2017-05-15T00:00:...,null,1,null,NaN
26,NaN,447702495418,siteVisit,www.thesartoriali...,2017-05-15T00:00:...,null,1,null,NaN
27,NaN,447702495418,siteVisit,i.instagram.com,2017-05-22T00:00:...,null,1,null,NaN
28,NaN,447702495418,siteVisit,itunes.apple.com,2017-06-12T00:00:...,null,1,null,NaN
29,NaN,447702495418,siteVisit,www.youtube.com,2017-06-12T00:00:...,null,1,null,NaN
30,NaN,447702495418,siteVisit,itunes.com,2017-06-12T00:00:...,null,1,null,NaN
31,NaN,447702495418,siteVisit,keyvalueservice.i...,2017-06-12T00:00:...,null,1,null,NaN

In [39]:
O2Actions

,Unnamed: 0,id,name,value,date,direction,count,durationInSeconds,Unnamed: 8
0,NaN,447702495418,siteVisit,www.amazon.co.uk,2017-04-30 00:00:...,null,1,null,NaN
1,NaN,447702495418,siteVisit,expedia.co.uk,2017-04-30 00:00:...,null,1,null,NaN
2,NaN,447702495418,tefRoamedIn,0,2017-04-30 00:00:...,null,1,null,NaN
3,NaN,447702495418,siteVisit,amazon.co.uk,2017-04-30 00:00:...,null,1,null,NaN
4,NaN,447702495418,siteVisit,www.lastminute.com,2017-04-30 00:00:...,null,1,null,NaN
5,NaN,447702495418,siteVisit,tennis.com,2017-04-30 00:00:...,null,1,null,NaN
6,NaN,447702495418,siteVisit,www.google.co.uk,2017-04-30 00:00:...,null,2,null,NaN
7,NaN,447702495418,siteVisit,www.travelocity.com,2017-04-30 00:00:...,null,1,null,NaN
8,NaN,447702495418,siteVisit,i.instagram.com,2017-04-30 00:00:...,null,1,null,NaN
9,NaN,447702495418,siteVisit,ee.co.uk,2017-04-30 00:00:...,null,1,null,NaN
10,NaN,447702495418,siteVisit,www.expedia.co.uk,2017-04-30 00:00:...,null,1,null,NaN
11,NaN,447702495418,siteVisit,www.facebook.com,2017-04-30 00:00:...,null,2,null,NaN
12,NaN,447702495418,siteVisit,www.expedia.com,2017-04-30 00:00:...,null,1,null,NaN
13,NaN,447702495418,siteVisit,m.lastminute.com,2017-04-30 00:00:...,null,1,null,NaN
14,NaN,447702495418,SMS,23331,2017-04-30 00:00:...,INBOUND,1,0,NaN
15,NaN,447702495418,siteVisit,www.google.com,2017-04-30 00:00:...,null,2,null,NaN
16,NaN,447702495418,siteVisit,www.tennis.com,2017-04-30 00:00:...,null,1,null,NaN
17,NaN,447702495418,siteVisit,www.cyclist.co.uk,2017-04-30 00:00:...,null,1,null,NaN
18,NaN,447702495418,siteVisit,www.skyscanner.net,2017-04-30 00:00:...,null,2,null,NaN
19,NaN,447702495418,siteVisit,www.gq-magazine.c...,2017-04-30 00:00:...,null,1,null,NaN
20,NaN,447702495418,siteVisit,t.co,2017-04-30 00:00:...,null,1,null,NaN
21,NaN,447702495418,siteVisit,www.tripadvisor.com,2017-04-30 00:00:...,null,1,null,NaN
22,NaN,447702495418,siteVisit,m.asos.com,2017-04-30 00:00:...,null,2,null,NaN
23,NaN,447702495418,siteVisit,shop.ee.co.uk,2017-04-30 00:00:...,null,1,null,NaN
24,NaN,447702495418,SMS,07860015000,2017-05-07 00:00:...,OUTBOUND,1,0,NaN
25,NaN,447702495418,siteVisit,www.google.co.uk,2017-05-07 00:00:...,null,1,null,NaN
26,NaN,447702495418,siteVisit,www.google.com,2017-05-07 00:00:...,null,1,null,NaN
27,NaN,447702495418,VOICE,03457345345,2017-05-07 00:00:...,OUTBOUND,2,840,NaN
28,NaN,447702495418,siteVisit,coral.co.uk,2017-05-07 00:00:...,null,1,null,NaN
29,NaN,447702495418,VOICE,02079252286,2017-05-07 00:00:...,OUTBOUND,1,60,NaN
30,NaN,447702495418,VOICE,02079310445,2017-05-07 00:00:...,OUTBOUND,1,60,NaN
31,NaN,447702495418,VOICE,03453000000,2017-05-07 00:00:...,OUTBOUND,2,120,NaN
32,NaN,447702495418,siteVisit,www.facebook.com,2017-05-07 00:00:...,null,2,null,NaN
33,NaN,447702495418,VOICE,02072353074,2017-05-07 00:00:...,OUTBOUND,1,60,NaN
34,NaN,447702495418,SMS,9011,2017-05-07 00:00:...,OUTBOUND,2,0,NaN
35,NaN,447702495418,VOICE,02076594500,2017-05-07 00:00:...,OUTBOUND,1,60,NaN
36,NaN,447702495418,VOICE,01923477777,2017-05-07 00:00:...,OUTBOUND,1,60,NaN
37,NaN,447702495418,tefWifiHotspotCon...,O2 Retail - 65 - ...,2017-05-07 00:00:...,null,3,null,NaN